# Common IntelliJ Platform excludes

# User specific
**/.idea
**/.idea/**/workspace.xml
**/.idea/**/tasks.xml
**/.idea/shelf/*
**/.idea/dictionaries
**/.idea/httpRequests/

# Sensitive or high-churn files
**/.idea/**/dataSources/
**/.idea/**/dataSources.ids
**/.idea/**/dataSources.xml
**/.idea/**/dataSources.local.xml
**/.idea/**/sqlDataSources.xml
**/.idea/**/dynamic.xml

# Rider
# Rider auto-generates .iml files, and contentModel.xml
**/.idea/**/*.iml
**/.idea/**/contentModel.xml
**/.idea/**/modules.xml

*.suo
*.user
.vs/
[Bb]in/
[Oo]bj/
_UpgradeReport_Files/
[Pp]ackages/

Thumbs.db
Desktop.ini
.DS_Store

manga.db
/nhentaiScrap/errors.txt
/nhentaiScrap/lastEntryScraped333840.txt
/HentaiMapGen/temp.proto
/HentaiMapGen/galleries.bin.zst
/HentaiMapGen/naGalleries.json
/HentaiMapGen/nhentaiMapping.json
/HentaiMapGen/sadPandaNameHashes.json.zst
/nhentaiScrap/manga.7z
/HentaiMapGen/erroredGalleries.json
/npanda.code-workspace
/Data/Data.7z
/Data/manga - Copy.db
/Data/manga.7z
/Data/new_manga.db
/Data_backup
/Data/manga.db-shm
/Data/manga.db-wal
/Data/new_manga.db-shm
/Data/new_manga.db-wal
/Data/Output/erroredGalleries.json
/Data/Output/galleries.bin.zst
/Data/Output/galleries.mpack
/Data/Output/galleries.mpack.zst
/Data/Output/naGalleries.json
/Data/Output/nhentaiMapping.json
/Data/removed_galleries.json
/Data/sadPandaNameHashes.mpack.zst
/Data/Output/galleries.msgpack
/Data/sadPandaNameHashes.msgpack.zst
